body {
  background-color: #eee;
}

@media (min-width: 640px) {
  .half {
    width: 49%;
    display: inline-block;
  }

  textarea {
    width: 300px;
  }
}

textarea {
  width: 90%;
  height: 40px;
}
