body {
  background-color: #eee;
}

.overall-notes {
  margin-top: 1em;
}

@media (min-width: 700px) {
  .half {
    width: 49%;
    display: inline-block;
  }

  textarea {
    width: 300px;
  }
}

textarea {
  width: 90%;
  height: 40px;
}

button {
  width: 90%;
  font-size: large;
}

.source-link {
  text-align: right;
}
